/* Root variables */
:root {
    --text-color: #ffffff;
    --background: #ea1538;
    --black: #000000;
    --dark-gray: #353535;
    --light-gray: #f3f3f3;
    --highlight-shadow: rgba(128, 6, 6, 0.8);
    --shadow-light: rgba(0, 0, 0, 0.5);
    --body-font: 'Source Sans Pro', sans-serif;
    --heading-font: 'Playfair Display', serif;
    --transition-time: 0.3s ease;
  }
  
  /* General Body Styling */
  body {
    margin: 0;
    padding: 0;
    background-color: var(--black);
    color: var(--text-color);
  }
  
  /* Glossary Container */
  .glossary-container {
    max-width: 900px;
    margin: auto;
    padding: 2em;
    background: var(--black);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    overflow-y: auto;
    max-height: 70vh;
  }
  
  /* Search Bar Styling */
  .search-bar {
    margin-bottom: 1.5em;
    position: relative;
  }
  
  .search-bar input {
    width: 100%;
    padding: 0.75em;
    font-size: 1em;
    border: 2px solid var(--background);
    border-radius: 5px;
    outline: none;
    background-color: #2d2d2d;
    color: var(--text-color);
    transition: var(--transition-time);
  }
  
  .search-bar input:focus {
    border-color: var(--highlight-shadow);
    box-shadow: 0 0 5px var(--highlight-shadow);
  }
  
  /* Glossary List Styling */
  #glossaryList {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
  }
  
  /* Term List Item Styling */
  #glossaryList li {
    margin-bottom: 1.5em;
    padding: 1em;
    border-radius: 8px;
    border: 1px solid transparent;
    background: #333; /* Dark background for list items */
    transition: var(--transition-time);
    cursor: pointer;
  }
  
  #glossaryList li:hover {
    background: var(--background);
    border: 1px solid var(--background);
  }
  
  /* Term Name Styling */
  .term-name {
    font-family: var(--heading-font);
    font-size: 1.3em;
    font-weight: bold;
    color: var(--text-color);
    cursor: pointer;
    display: block;
    transition: var(--transition-time);
  }
  
  .term-name:hover {
    color: var(--highlight-shadow);
  }
  
  /* Term Description Styling */
  .term-description {
    display: none; /* Initially hidden */
    font-size: 1.1em;
    line-height: 1.5em;
    margin-top: 1em;
    color: #ddd;
    padding-left: 20px;
    font-family: var(--body-font);
  }
  
  .term-description.visible {
    display: block; /* Show when clicked */
  }
  
  /* More Info Link Styling */
  .more-info {
    color: blue;
    font-size: 0.9em;
    text-decoration: underline;
    cursor: pointer;
    transition: var(--transition-time);
  }
  

  .more-info:hover {
    color: var(--light-gray);
  }
  @media (max-width: 768px) {
    #glossaryList {
      font-size: 0.5rem;
    }
  }